#map {
    height: 500px;
}

html, body, main, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

.log {
    border: 1px solid;
}

.leaflet-control-container {
    position: absolute;
    right: 56px;
}
