stfu.run {
  gzip
  header / {
    Strict-Transport-Security "max-age=31536000"
    X-Frame-Options "DENY"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    Content-Security-Policy "default-src 'unsafe-inline' 'self' https://dc.services.visualstudio.com/v2/track https://opencache.statkart.no/gatekeeper/gk/; img-src * data:"
  }
  proxy /app/ https://www.stikkut.no
  proxy /user/ https://www.stikkut.no
  proxy /stikkut/ https://www.stikkut.no
  proxy /uploads/ https://www.stikkut.no
  proxy /turar/ https://www.stikkut.no
  proxy /elevation https://www.norgeskart.no/ws/elev.py
}
