stfu.run {
  proxy / https://stfueirikb.z16.web.core.windows.net/ {
    header_downstream Strict-Transport-Security "max-age=31536000; includeSubDomains"
    header_downstream X-Frame-Options SAMEORIGIN
    header_downstream X-XSS-Protection "1; mode=block"
    header_downstream X-Content-Type-Options nosniff
  }
  proxy /api https://www.stikkut.no {
    without /api
  }
  proxy /app/ https://www.stikkut.no
  proxy /user/ https://www.stikkut.no
  proxy /stikkut/ https://www.stikkut.no
  proxy /uploads/ https://www.stikkut.no
}
