#map {
    height: 500px;
}

html, body, main, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

.log {
    border: 1px solid;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 20px;
}

.the-text-with-tiny-print {
    font-size: 10px;
}

.leaflet-bar-part, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
}

.leaflet-bar-part span {
    font-size: 22px !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    font-size: 28px !important;
}
