#map {
    height: 500px;
}

html, body, main, #map {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", serif;
}

.log {
    border: 1px solid;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 20px;
}

.the-text-with-tiny-print {
    font-size: 10px;
}

.leaflet-bar-part, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
}

.leaflet-bar-part span {
    font-size: 22px !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    font-size: 28px !important;
}

a.menu {
    position: fixed;
    left: 10px;
    bottom: 20px;
    z-index: 1000;
}

div.menu {
    position: absolute;
    width: 300px;
    height: 100vh;
    z-index: 1000;
    background-color: white;
    flex-direction: column;
    display: flex;
}

div.menu::after {
    content: '';
    height: 100px;
}

a.link {
    color: rgb(46, 90, 58);
    font-size: 20px;
    margin-top: auto;
}

.modal {
    z-index: 100000;
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    background: white;
}

.modal-close {
    position: fixed;
    right: 20px;
    top: 20px;
}

a {
    cursor: pointer;
}
