#map {
    height: 500px;
}

html, body, main, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

.log {
    border: 1px solid;
}

.leaflet-control-container {
    position: absolute;
    right: 56px;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 13px;
}

.the-text-with-tiny-print {
    font-size: 10px;
}
